name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Install cargo binaries (uses cargo binstall to go faster)
    - uses: taiki-e/install-action@cargo-audit

    # pre-commit run
    - uses: actions/setup-python@v4
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.1

    # Rust tests
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
